.logo img {
  width: 120px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 16px;
  gap: 12px;
}
.nav .links li a {
  text-decoration: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}
.nav .nav-links a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  float: left;
  font-size: 18px;
  font-weight: bold;
}
.footer nav ul li a {
  color: #000;
  text-decoration: none;
}
.footer .social-icons a {
  margin-right: 10px;
  float: left;
}
.footer .social-icons a img {
  width: 24px;
  height: 24px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin-left: 126px;
  margin: 126px;
  width: auto;
  height: 100vh;
  font-family: "Mulish", sans-serif;
}

/* Main Content Section */
.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 110px;
}

.contact-info {
  max-width: 40%;
}
.contact-info .contact-info h1 {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 700;
}
.contact-info .contact-info p {
  font-size: 16px;
  color: #666;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
}
.contact-form input,
.contact-form textarea {
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #979797;
  font-size: 16px;
}
.contact-form button {
  background-color: #4A4FF2;
  width: 125px;
  height: 50px;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.contact-form button:hover {
  background-color: #fff;
  color: #4A4FF2;
  font-weight: bold;
  border: 2px solid #4A4FF2;
}

/* Map Section */
.map {
  margin-top: 120px;
}

.map img {
  width: 100%;
  height: auto;
}