@import 'header';
@import 'footer';
@import 'variables';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  margin-left: 126px;
  margin: 126px;
  width: auto;
  height: 100vh;
  font-family: $fontPrimary;
}


.contact-container {
  display: flexbox;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 110px;

  .contact-text {
    text-align: start;
    
    h1 {
      line-height: 2;
    }
  }
    
}



.form {
  text-align: right;
  float: right;
  width: 475PX;
  height: auto; 
  padding: 20px;
  border: none;
  color: #979797;
  font-size: 16px;

          label {
            color: #979797;
            font-weight: bold;
          }

          .input-field {
            border: none;
            border-bottom: 1px solid #eaeaea;
          }

          textarea {
            border: none;
            border-bottom: 1px solid #979797;
          }
          
          button {
            background-color: $primaryColor;
            width: 125px;
            height: 50px;
            border: none;
            color: #fff;
            font-size: 16px;

            &:hover {
              background-color: #fff;
              color: #4A4FF2;
              font-weight: bold;
              border: 2px solid $primaryColor;
            }
          }


}

.map img {
  width: auto;
  height: 100%;
}



