@import 'header';
@import 'footer';
@import 'variables';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  margin-left: 126px;
  margin: 126px;
  width: auto;
  height: 100vh;
  font-family: $fontPrimary;
}


/* Main Content Section */
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px 100px;
  margin-top: 20px;
}

.contact-info {
  max-width: 50%;

      .contact-info h1 {
        font-size: 36px;
        margin-bottom: 10px;
        font-weight: 700;
      }
      
      .contact-info p {
        font-size: 16px;
        color: #666;
      }
  
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 40%;

      input,
      textarea {
        padding: 12px;
        margin-bottom: 20px;
        border: none;
        border-bottom: 1px solid #979797;
        font-size: 16px;
      }
      
      button {
        background-color: $primaryColor;
        width: 125px;
        height: 50px;
        border: none;
        color: #fff;
        font-size: 16px;
        cursor: pointer;

              &:hover {
                background-color: #fff;
                color: #4A4FF2;
                font-weight: bold;
                border: 2px solid $primaryColor;
        
            }
      }
}



/* Map Section */
.map {
  margin-top: 40px;
}

.map img {
  width: 100%;
  height: auto;
}