
$primaryColor: #4A4FF2;

@import 'header';
@import 'footer';
@import 'grid-container';

@mixin flexCenter{
    display: flexbox;
    justify-content: center;
    justify-items: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    margin-left: 126px;
    margin: 126px;
    width: auto;
    height: 100vh;
    font-family: "Mulish", sans-serif;
}

/*Hero section*/

.container {
    @include flexCenter();
    height: 100%;
    width: auto;

        .hero-section {
            height: auto;
            margin-top: 96px;
            margin-bottom: 144px;
        }

        .hero-title {
            float: left;
            width: 635px;
        }

        h1 {
            font-size: 40px;
            font-weight: bold;
            line-height: 1.5;
        }

        .h1-blue {
            font-size: 40px;
            font-weight: bold;
            color: $primaryColor;
        }

        h5 {
            color: $primaryColor;
            font-size: 22px;
        }

        h6 {
            text-align: right ;
            align-items: center;
            font-style: italic;
            font-size: 18px;
            color: #111111;
            
        }
}


/*Portfolio*/

.portfolio {
    display: flexbox;
    width: auto;
}



/*Footer*/



