@import 'header';
@import 'footer';
@import 'variables';

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    margin: 126px;
    width: auto;
    height: 100vh;
    font-family: $fontPrimary;
}

.project-main {
    width: 90%;
}

/*Project  content section*/

.project-content {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    
}

.project-details {
    line-height: 2;
    width: 50%;
    text-align: start;
 }

.project-details h1 {
    font-size: 40px;
    width: 50%;
    
 }

.project-info {
        margin-top: 138px;
        margin-left: 140px;
        line-height: 2;
        text-align: left;
        border-bottom: 1px solid #888;
}

.project-info table {
    width: 100%;
    justify-self: flex-end;
}

.project-info th, .project-info td {
    text-align: left;
    padding: 10px 0;
}

/*Project gallery section*/
    
.project-gallery {
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%; 
}


.main-image img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.gallery-text {
    color: #979797;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 2;
 }

.gallery-images {
    display: flex;
    justify-content: center;

    .gallery-item {
        width: 100%;
        height: auto;
    }
}


