@import 'header';
@import 'footer';
@import 'variables';

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    margin: 126px;
    width: auto;
    height: 100vh;
    font-family: $fontPrimary;
}

.project-main {
    width: 90%;
}

.project-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10%; 
}


.project-details {
            line-height: 2;
            width: 100%;
            height: auto;
            text-align: start;
 }

.project-details h1 {
            font-size: 40px;
            width: 50%;
    
 }

.project-info {
        margin-top: 138px;
        line-height: 2;
        text-align: left;
        border-bottom: 1px solid #888;
}

.project-info table {
    width: 100%;
}

.project-info th, .project-info td {
    text-align: left;
    padding: 10px 0;
}

/*Project gallery section*/
    
.project-gallery {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
}


.gallery-text {
        color: #979797;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;
        line-height: 2;
     }


.main-image img {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
}
    

.gallery-images {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .gallery-item {
        width: 100%;
        height: auto;
    }
}


