.logo img {
  width: 120px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 16px;
  gap: 12px;
}
.nav .links li a {
  text-decoration: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}
.nav .nav-links a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.footer {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  float: left;
  font-size: 18px;
  font-weight: bold;
}
.footer nav ul li a {
  color: #000;
  text-decoration: none;
}
.footer .social-icons a {
  margin-right: 10px;
  float: left;
}
.footer .social-icons a img {
  width: 24px;
  height: 24px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 126px;
  width: auto;
  height: 100vh;
  font-family: "Mulish", sans-serif;
}

.project-main {
  width: 90%;
}

.project-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10%;
}

.project-details {
  line-height: 2;
  width: 100%;
  height: auto;
  text-align: start;
}

.project-details h1 {
  font-size: 40px;
  width: 50%;
}

.project-info {
  margin-top: 138px;
  line-height: 2;
  text-align: left;
  border-bottom: 1px solid #888;
}

.project-info table {
  width: 100%;
}

.project-info th, .project-info td {
  text-align: left;
  padding: 10px 0;
}

/*Project gallery section*/
.project-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.gallery-text {
  color: #979797;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 2;
}

.main-image img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.gallery-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.gallery-images .gallery-item {
  width: 100%;
  height: auto;
}