@import 'header';
@import 'footer';
@import 'variables';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    margin-left: 126px;
    margin: 126px;
    width: auto;
    height: 100vh;
    font-family: $fontPrimary;
}

.project-main {
    @include flexCenter();
    width: 100%;
    height: auto;
    margin: 20px;

        .project-content {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .project-details {
            line-height: 1.5;
            width: 60%;
            height: auto;
            text-align: start;
        }

        .project-details h1 {
            font-size: 40px;
        }

        .project-info {
        float: right;
        line-height: 2;
        align-items: baseline;
        }

}

    
.project.gallery {
    display: flexbox;
    justify-content: center;
}

p {
        color: #979797;
        margin: 20px;
     }


.main-img {
    width: 100%;
    height: auto;
    justify-content: center;
    margin-top: 60px;
}

.gallery-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 30px;

    .gallery-item {
        display: flexbox;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 100%;
    }
}


